*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

.main{
    width: 600px;
    height: 500px;
    font-family: 'Lato', sans-serif;
    background-color: lavender;
    margin: 130px;
    padding: 30px;
    border-radius: 10px;
}
hr{
    color: black;
}
.row{
    display: flex;
    justify-content: space-between;

}
h3{
    padding: 10px;
    margin: 15px;
}
a{
    display: inline-block;
    width: 65%;
    padding: 10px;
    margin: 15px;
}
h2{
    padding: 10px;
    margin: 15px;
}


