*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/d86824d90d28c7e10dbba99942d9a4e0.jpg);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-left: 30px;
    margin-right: 30px;
}
.heading{
    color: cadetblue;
    font-size: 32px;
    margin-top: 20px;
}
.list{
    list-style-type: none;
    color: cadetblue;
    font-size: 19px;
    display: flex;
    gap: 40px;
    margin-top: 15px;

}
.firstRow{
    display:flex;
    justify-content: space-between;
}
.centerText{
    text-align: center;
    color: cadetblue;
    font-size: 40px;
    margin-top: 350px;
}
